@model GProject.WebApplication.Models.UserInfoDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-box shop-template mt-60">
    <div class="container">
        <div class="row mb-100">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <h3>Đăng Nhập</h3>
                <p class="font-md color-gray-500">Chào mừng trở lại!</p>
                <div class="form-register mt-30 mb-30">
                    <form id="formdata" asp-action="Login" onsubmit="return validateLoginForm();">
                        <div class="form-group">
                            <label class="mb-5 font-sm color-gray-700">Email *</label>
                            <input class="form-control" asp-for="Email" type="email" name="Email" id="form3Example3" placeholder="Mời nhập email...">
                        </div>
                        <div class="form-group">
                            <label class="mb-5 font-sm color-gray-700">Mật khẩu *</label>
                            <input class="form-control" asp-for="password" id="form3Example4" type="password" placeholder="******************">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="color-gray-500 font-xs">
                                        <input class="checkagree" type="checkbox">Ghi nhớ
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 text-end">
                                <div class="form-group"><a class="font-xs color-gray-500" href="/quen-mat-khau.html">Quên mật khẩu?</a></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="font-md-bold btn btn-buy" type="submit" value="Đăng Nhập">
                        </div>
                    </form>
                    <div class="form-group">
                        <a class="btn btn-login font-md-bold color-brand-3 mb-15" asp-controller="Account" id="btnAction" asp-action="ExternalLogin" asp-route-provider="Google" asp-route-returnurl="@ViewBag.returnUrl">Đăng nhập với<img src="~/assets/imgs/page/account/google.svg" alt="Ecom"></a>
                    </div>
                    <div class="mt-20"><span class="font-xs color-gray-500 font-medium">Bạn chưa có tài khoản?</span><a class="font-xs color-brand-3 font-medium" href="/Account/register">Đăng ký</a></div>
                </div>
            </div>
            <div class="col-lg-5"></div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var er = document.getElementById('error')
        if (er != null) {
            if ($('#error').text() == 'Failed')
                swal("Đăng nhập không thành công", "Tài khoản hoặc mật khẩu không chính xác", "error");
        }
        $.ajax({
            data: {
                str: window.location.protocol + '//' + window.location.host
            },
            contentType: 'application/json',
            dataType: 'json',
            url: '/Account/GetLocalhost',
            type: 'GET'
        });
    });
    function validateLoginForm() {
        var email = document.getElementById('form3Example3').value;
        var password = document.getElementById('form3Example4').value;

        if (email.trim() === '') {
            sweetAlert("Thông báo", "Thông tin email không được để trống", "error");
            return false;
        }
        if (password.trim() === '') {
            sweetAlert("Thông báo", "Thông tin mật khẩu không được để trống", "error");
            return false;
        }
        return true;
    }
    document.querySelector('.img__btn').addEventListener('click', function () {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>